<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application" %>
<%= csrf_meta_tags %>
<script>
var channelID="<%= @url %>";
var host=location.hostname;
var port=<%= NODE_PORT %>;
var chats=<%= safe_json @chats %>;
var social_info=<%= safe_json social_info %>;
var terminalchat;

</script>
<script>

$(function(){
	function onresize(){
		$(".autofit").autofit();
	}
	onresize();
	window.onresize=onresize;
})
</script>
<body style='margin-top:0px;padding:0;'>
	<div style='position:fixed;left:0;top:0;width:100%;height:30px;background:#eee;'>
		<nobr id='terminaltitle' style='padding:0 10px;font-size:20px;position:absolute;left:0;top:0;height:30px;line-height:30px;'></nobr>
		<div id='viewerform' style='position:absolute;right:0;padding:0 30px 0 40px;height:30px;line-height:30px;font-size:16px;color:#666'>
			<img src='/assets/screen/eye.png' width=30 height=30 style='position:absolute;left:10px;top:0;'>
			<span id='viewer'></span>
			<% if @private %>
				<img src='/assets/screen/lock.png' width=30 height=30 style='position:absolute;right:0px;top:0;'>
			<% end %>
		</div>
	</div>
	<div id='chatmain' class='autofit' data-margin-top='30' style='position:fixed;left:0;top:30px;width:100%;overflow:hidden;background:white;height:300px;'>
		<%= render partial:'chat' %>
	</div>
</body>



