<%= csrf_meta_tags %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<script>
var csrf_token="<%= form_authenticity_token %>";
var channelID="<%= @url %>";
var host=location.hostname;
var port=<%= node_port %>;
var chats=<%= safe_json @chats %>;
var social=<%= safe_json social_info %>;
var terminalchat;
function onSocialConnect(s){
	setSocial(s);
}
function TerminalChat(host,port,channelID){
	var self=this;
	var socket=io.connect('http://'+host+":"+port,{'reconnect':true,'reconnection delay':500,'max reconnection attempts':10});
	socket.on('connect',function(){
		socket.emit('init',{channel:channelID},function(){console.log('init')});
	});
	socket.on('reconnect_failed',function(){socket=null;if(self.onClose)self.onClose();})
	socket.on('disconnect',function(){})
	socket.on('init',function(data){if(self.onInit)self.onInit(data);});
	socket.on('viewer',function(data){console.log('viewer',data);if(self.onViewerChange)self.onViewerChange(data)});
	socket.on('chat',function(data){console.log('chat',data);if(self.onChatArrive)self.onChatArrive(data)});
	socket.on('castStart',function(data){initTerminal(data);if(self.onCastStart)self.onCastStart(data)});
	this.post=function(message,twitter){
		if(!socket)return;
		console.log(csrf_token);
		data={authenticity_token:csrf_token,message:message};
		if(twitter)data.twitter=true;
		$.post('/screens/post/'+channelID,data);
	}
}

$(function(){
	if(!channelID)return;
	if(chats){
		for(var i=0;i<chats.length;i++)addChat(chats[i])
	}
	terminalchat=new TerminalChat(host,port,channelID);
	terminalchat.onChatArrive=function(chat){
		try{
			addChat(chat,true);
		}catch(e){console.log('err',chat)}
	}
	terminalchat.onInit=function(data){
		var title=data.info?data.info.title:channelID.split("/").pop()
		$("#terminaltitle").text(title);
		document.title=(title?title+" - ":"")+"ScreenX TV";
		if(data.casting)terminalchat.onCastStart();
		else terminalchat.onCastEnd();
		if(data.chatlist){
			clearChat();
			for(var i=0;i<data.chatlist.length;i++){
				var chat=data.chatlist[i];
				try{
					addChat(chat);
				}catch(e){console.log(chat)}
			}
		}
		terminalchat.onViewerChange(data.viewer);
	}
	terminalchat.onCastStart=function(data){
		$("#terminal").css({opacity:1})
	}
	terminalchat.onCastEnd=function(){
		$("#terminal").css({opacity:0.5})
	}
	terminalchat.onViewerChange=function(info){
		$("#viewer").text(info.viewer+"/"+info.total_viewer);
	}
	terminalchat.onClose=function(){
		console.log('closed');
		setTimeout(function(){console.log('restart');
			terminalchat=new TerminalChat(host,port,channelID)
		},10*1000);
	}
	$("#chatform form").mousedown(function(){$("#message").focus();return false;})
	$("#message").focus(function(){$("#chatform form").css('box-shadow','0 0 8px blue')})
	$("#message").blur(function(){$("#chatform form").css('box-shadow','none')})
	$("#social_anonymous").click(function(){
		if(social)$.post('/oauth/disconnect',{authenticity_token:csrf_token,_method:'delete'},function(){setSocial(null)});
	})
	$("#social_twitter").click(function(){
		if(!social)window.open('/oauth/connect','socialconnect','width=600,height=400,toolbar=no,menubar=no,status=no')
	})
	setSocial(social);
})

function postSubmitCheck(e){
	if(e.keyCode!=13||e.metaKey||e.altKey||e.shiftKey||e.ctrlKey)return true;
	post();
	return false;
}
					
function post(){
	var message=$("#message").val();
	$("#message").val("")
	if(!message.trim())return;
	var twit=$("#twitpost")[0];
	terminalchat.post(message,twit&&twit.checked);
}
function animate(f,time){
	var starttime=new Date();
	function func(){
		var t=(new Date()-starttime)/time
		if(t>=1)t=1;
		try{f(t)}catch(e){console.log(e);}
		if(t<1)setTimeout(func,10);
	}
	setTimeout(func,10);
	try{f(0)}catch(e){console.log(e)}
}
function updateTime(){
	for(var i=0;i<chatArray.length;i++)chatArray[i].update();
}
setInterval(updateTime,1000);
var chatArray=[];
function clearChat(){
	chatArray=[];
	$("#chatlist").text('');
}

function setSocial(s){
	social=s;
	var img=$("<img/>")
	twitterConnceted=s?true:false;
	if(s){
		$("#social_anonymous").css({opacity:''});
		$("#social_twitter").css({opacity:1});
		$("#mysocial span").css({display:''})
		$("#form_icon").text('').append($("<img/>").attr('src',s.icon));
		$("#chatform form").css('padding-left',40);
	}else{
		$("#social_anonymous").css({opacity:1});
		$("#social_twitter").css({opacity:''});
		$("#mysocial span").css({display:'none'})
		$("#form_icon").text('')
		$("#chatform form").css('padding-left','');
	}
}
function addChat(chat,addedFlag){
	var div=$("<div class='chat'><img><div class='name'/><div class='message'/><div class='time'/></div>");
	if(addedFlag)chat.time=new Date().getTime()/1000;
	else chat.time=Math.min(new Date().getTime()/1000,chat.time);
	var imgsrc=chat.icon;
	if(!imgsrc)imgsrc="/assets/anonymous.png"
	div.children().eq(0).attr("src",imgsrc);
	if(chat.name)div.children().eq(1).text(chat.name);
	div.children().eq(2).text(chat.message);
	var time=div.children().eq(3);
	var chatlist=$("#chatlist");
	var wrap=$("<div class='chat_wrap'/>");
	wrap.append(div)
	var updateFunc=function(){
		var sec=Math.round(new Date().getTime()/1000-chat.time);
		var s10=Math.floor(sec/10)*10;
		var min=Math.floor(sec/60);
		var hour=Math.floor(min/60);
		var day=Math.floor(hour/24);
		if(day)day+=(day==1?'day':'days')+' ago';
		if(hour)hour+=(hour==1?'hour':'hours')+' ago';
		if(min)min+='min'+' ago';
		if(s10)s10+='sec'+' ago';
		time.text(day||hour||min||s10||'just now');
	}
	updateFunc();
	chatlist.prepend(wrap);
	if(addedFlag){
		animate(
			function(t){
				var h=div.outerHeight();
				if(t<1){
					div.css({top:-h*(1-t)});
					wrap.css({height:h*t});
				}else{
					div.css({top:''});
					wrap.css({height:''});
				}
			},200);
	}
	chatArray.push({obj:wrap,update:updateFunc});
	if(chatArray.length>256)chatArray.shift().obj.remove();
}
</script>
<script>
$(function(){
  $(".popupbutton").live('click',function(){
    var classactive='popupbutton_active';
    var flag=$(this).hasClass(classactive);
    $('.popupbutton').removeClass(classactive);
    if(!flag)$(this).addClass(classactive);
  })
})
</script>
<style>
div.chat_wrap{position:relative;margin:0;padding:0;width:100%;}
div.chat{position:relative;border-radius:5px;margin:5px;padding:5px;box-shadow:0 0 8px rgba(0,0,0,0.2);min-height:30px;}
div.chat img{position:absolute;width:24px;height:24px;left:5px;top:5px;border-radius:4px;}
div.chat .name{margin-left:30px;font-size:12px;overflow:hidden;line-height:1em;color:#444;}
div.chat .message{margin-left:30px;margin-top:2px;font-size:16px;overflow-x:hidden;color:black;word-break:break-all;}
div.chat .time{text-align:right;font-size:10px;color:silver;overflow:hidden;line-height:1em;}
#chatform form{
	border-radius:8px;
	border:1px solid silver;
	padding:2px 4px;
	margin:0px;
	height:50px;
	font-size:16px;
	position:relative;
}
#chatform form img{
	position:absolute;
	left:6px;top:6px;
	width:30px;height:30px;
	border-radius:4px;
}
#message{
	margin:0;padding:0;
	outline:none;
	border:none;
	height:100%;
	width:100%;
	font-size:16px;
}
#message:-moz-placeholder,#message::-webkit-input-placeholder{
	color: #F00;
}
#mysocial{
	margin:0 10px;padding:0;
	height:24px;line-height:24px;
}
#mysocial img{
	background:#666;
	background:-webkit-linear-gradient(top,#777,#555);
	background:-moz-linear-gradient(top,#777,#555);
	background:-o-linear-gradient(top,#777,#555);
	opacity:0.5;
	border-radius:4px;
	width:24px;height:24px;
	cursor:pointer;
}

#twitcheckbox{position:absolute;left:10px;bottom:2px;font-size:16px;}
#terminal_nav{
	position:fixed;
	left:0;top:0px;
	height:40px;
	background:-webkit-linear-gradient(top,#ddd,#fff);
	background:-moz-linear-gradient(top,#ddd,#fff);
  background:-o-linear-gradient(top,#ddd,#fff);
	box-shadow:0 5px 5px rgba(0,0,0,0.2);
}
#terminal_nav .popupbutton{
	cursor:pointer;
}
#terminal_nav .popupbutton:hover{
	background:#ccc;
}
#terminal_nav .popupbutton_active{
	background:#bbb;
}
#terminal_nav .popupbutton_active:hover{
	background:#aaa;
}
#terminaltitle{
	position:absolute;font-size:24px;height:40px;line-height:40px;
	left:160px;
}
#terminalstatus img{
	position:absolute;left:0;top:0;
}
#terminalstatus{
	position:relative;
	display:inline-block;
	position:absolute;
	height:40px;
	right:60px;

}
#terminalstatus #viewer{
	font-size:20px;
	line-height:40px;
	padding:0 10px;
	padding-left:40px;
	color:#666;
}
#terminallike,#terminallock{
	position:absolute;
	right:0;
	height:40px;
	padding:0 10px;
}
#terminal-nav>div{
	display:inline-block;
}
</style>
<body style='margin-top:120px;padding:0;'>
	<div id='head' style='box-shadow:0 0 5px rgba(0,0,0,0.2);position:absolute;left:0;top:0;width:100%;height:120px;'>
		<div style='position:absolute;left:0;top:0;width:100%;height:30px;background:#eee;'>
			<nobr id='terminaltitle' style='padding:0 10px;font-size:20px;position:absolute;left:0;top:0;height:30px;line-height:30px;'></nobr>
			<div id='viewerform' style='position:absolute;right:0;padding:0 30px 0 40px;height:30px;line-height:30px;font-size:16px;color:#666'>
				<img src='/assets/screen/eye.png' width=30 height=30 style='position:absolute;left:10px;top:0;'>
				<span id='viewer'></span>
				<% if @private %>
					<img src='/assets/screen/lock.png' width=30 height=30 style='position:absolute;right:0px;top:0;'>
				<% end %>
			</div>
		</div>
		<div id='chatform' style='position:absolute;left:0;top:30px;width:100%;height:100px;'>
			<form onsubmit="try{post()}catch(e){}return false" style="margin:10px;margin-bottom:4px;">
				<div id='form_icon'></div>
				<div style='position:relative;height:100%;'>
					<textarea id='message' style='' maxlength=100 autocomplete='off' placeholder='social stream' onkeydown='postSubmitCheck(event)'></textarea>
				</div>
			</form>
			<div id='mysocial'>
				<img src='/assets/screen/anonymous.png' id='social_anonymous' alt='anonymous' title='anonymous'>
				<img src='/assets/screen/twitter.png' id='social_twitter' alt='twitter' title='twitter'>
				<% unless @private %>
					<span style='font-size:12px;'><nobr><input id='twitpost' type='checkbox'>post to twitter</nobr></span>
				<% end %>
			</div>
		</div>
	</div>
<div id='chatlist' style='width:100%;height:100%;top:0px;overflow:auto'></div>




