<meta encoding='utf-8'>
<%= javascript_include_tag "application" %>
<%= render partial:'/analytics' %>
<script>
channelID="<%= @url %>"
host=location.hostname;
port=<%= NODE_PORT %>

$(function(){
  window.onresize=function(){
    terminalview.resize(innerWidth,innerHeight);
    $("#terminal_nav").css("width",w);
  }
  window.onresize();
});

</script>
<a href="/<%= @url %>" target='_top' style='text-decoration:none;color:gray;'>
  <div id="terminal" style="font-size:16px;box-shadow:0 0 8px silver;margin:10px;"></div>
</a>
