<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>
<script>
var channelID="<%= @url %>";
var host=location.hostname;
var port=<%= node_port.to_i %>;
var chats=<%= safe_json @chats %>;
var social_info=<%= safe_json social_info %>;
var terminalview;
$(function(){
	onSocialConnect(social_info);
	$("#terminaltitle").text(channelID);
	if(!channelID)return;
	if(chats){
		for(var i=0;i<chats.length;i++)addChat(chats[i])
	}
	terminalview=new TerminalView(document.getElementById("terminal"),host,port,channelID,true)
	window.onresize=function(){
		var cw=Math.round(0.3*innerWidth);
		if(cw<200)cw=200;
		if(cw>320)cw=320;
		var w=innerWidth-cw;
		var h=innerHeight;
		if(w<400){
			w=innerWidth;
			$("#chatmain").css("display","none")
		}else{
			$("#chatmain").css({display:"block",height:h,width:cw})
			$("#chatlist").autofit();
		}
		$("#terminalmain").css({width:w,height:h,top:40});
		terminalview.resize(w,h-40);
		$("#terminal_nav").css("width",w);
	}
	terminalview.onChatArrive=function(chat){
		try{
			addChat(chat,true);
		}catch(e){console.log(chat)}
	}
	terminalview.onInit=function(data){
		if(!data.vt100){
			$("#terminal").text('OFF AIR');
			window.onresize();
		}
		var title=data.info?data.info.title:""
		$("#terminaltitle").text(title);
		document.title=(title?title+" - ":"")+"ScreenX TV";
		if(data.casting)terminalview.onCastStart();
		else terminalview.onCastEnd();
		if(data.chatlist){
			clearChat();
			for(var i=0;i<data.chatlist.length;i++){
				var chat=data.chatlist[i];
				try{
					addChat(chat);
				}catch(e){console.log(chat)}
			}
		}
		terminalview.onViewerChange(data.viewer);
	}
	terminalview.onCastStart=function(data){
		$("#terminal").css({opacity:1})
	}
	terminalview.onCastEnd=function(){
		$("#terminal").css({opacity:0.5})
	}
	terminalview.onViewerChange=function(info){
		$("#viewer").text(info.viewer+"/"+info.total_viewer);
	}
	terminalview.onClose=function(){
		console.log('closed');
		setTimeout(function(){console.log('restart');
			terminalview=new TerminalView(document.getElementById("terminal"),host,port,channelID,true)
		},10*1000);
	}
	$("#chatform form").mousedown(function(){$("#message").focus();return false;})
	$("#message").focus(function(){$("#chatform form").css('box-shadow','0 0 8px blue')})
	$("#message").blur(function(){$("#chatform form").css('box-shadow','none')})
	window.onresize();
})



function post(){
	var message=$("#message").val();
	$("#message").val("")
	if(!message.trim())return;
	var twit=$("#twitpost")[0];
	terminalview.post(message,twit&&twit.checked);
}

	

$(function(){
  $(".popupbutton").live('click',function(){
    var classactive='popupbutton_active';
    var flag=$(this).hasClass(classactive);
    $('.popupbutton').removeClass(classactive);
    if(!flag)$(this).addClass(classactive);
  })
})
</script>
<div id="terminalmain" style='position:fixed;left:0;top:50;'>
	<div id="terminal" style="font-size:16px;box-shadow:0 0 8px silver;margin:10px;"></div>
</div>
<div id='terminal_nav'>
	<a href='/'>
		<img src='/assets/logo.png' style='position:absolute;z-index:65536;height:40px;'>
	</a>
	<div id='terminaltitle'></div>
	<div id='terminalstatus' style="">
		<img src='/assets/screen/eye.png' width=40 height=40>
		<span id='viewer'>0/0</span>
	</div>
	<% if @private %>
		<div id='terminallock'>
			<img src='/assets/screen/lock.png' width=40 height=40>
		</div>
	<% elsif @share || true %>
		<div id='terminallike' class='pulldown'>
			<%= image_tag 'screen/like.png',class:'pulldown-menu',width:40,height:40 %>
			<div class='pulldown-target screen-info'>
				ほげほげほげほげほえほげ
				<div
				<div class='twitter'>
					<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url=http://screenx.tv/<%= @url %>" style="width:100px; height:20px;"></iframe>
				</div>
				<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
				<div class="fb-like facebook" data-href="http://screenx.tv/<%= @url %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
			</div>
		</div>
	<% end %>
</div>
<div id='chatmain' style='position:fixed;right:0;top:0;width:300px;box-shadow:0 0 16px black;overflow:hidden;background:white'>
	<%= render partial:'chat' %>
</div>




