<!DOCTYPE html>
<html>
<head>
  <meta encoding='utf-8'>
  <title>screenxtv</title>
  <meta content="http://screenx.tv/" property="og:url"/>
  <link rel="canonical" href="http://screenx.tv/"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>csrf_token="<%= form_authenticity_token %>"</script>
</head>
<body>


<style>
body{margin:0;padding:0;padding-top:50px;overflow-x:hidden;}
.header{
	position:fixed;
	left:0;top:0;width:100%;height:50px;
	background:#eee;
	background:-webkit-linear-gradient(top,#ddd,#fff);
	background:-moz-linear-gradient(top,#ddd,#fff);
	box-shadow:0 5px 5px rgba(0,0,0,0.2);
	z-index:65536;
}
div.social{
	position:absolute;right:120px;top:2px;
	/*text-align:right;*/
}
/*div.social div{display:inline-block;}*/
div.twitterbutton{position:relative;top:3px;}


.header_login{
	display:inline-block;
	position:absolute;
	right:0;top:0;
	text-align:right;
	width:120px;height:50px;
}
.header_login img{position:absolute;right:82px;top:9px;width:32px;height:32px;border-radius:4px;}
.login_text{position:absolute;right:0;bottom:5px;width:80px;font-size:16px;text-align:left;vertical-align:bottom;}
#header_title{
	margin-left:160px;
	margin-right:250px;
	height:50px;
	text-align:center;
	font-size:32px;
	overflow:hidden;
}
</style>
<div class="header">
	<a href='/'><img src='/assets/logo.png' style='position:absolute;z-index:65536'></a>
	<div id='header_title'></div>
	<div class='social'>
	 	<div class='twitterbutton'>
			<a href="https://twitter.com/share" class="twitter-share-button" style='color:transparent'>Tweet</a>
		  	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<script id="facebook-jssdk" src="http://connect.facebook.net/ja_JP/all.js#xfbml=1"></script>
	 	<div class="fb-like" data-href="http://screenx.tv/" data-send="false" data-width="70" data-show-faces="false" data-layout="button_count"></div> 
	</div>
	<div class='header_login'>
		<%if session[:user] %>
			<img src='<%=session[:user][:profile_image]%>'>
			<div class='login_text'><a href='/index/logout'>logout</a></div>
		<% else %>
			<a href='/index/login'>
			<div class='login_text' style='font-size:1.5em'>login</div>
			</a>
		<% end %>
	</div>
</div>

<%= yield %>
