<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%=title%></title>
  <meta content="http://screenx.tv/" property="og:url"/>
  <link rel="canonical" href="http://screenx.tv/"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render partial:'/analytics' %>
  <script>csrf_token="<%= form_authenticity_token %>"</script>
</head>
<body>
<header>
  <nobr class='left'>
    <a href='/' class='menu_item'>
      <img src='/assets/logo.png' style='position:absolute;z-index:65536;height:40px;'>
    </a>
  </nobr>
  <nobr class='right'>
    <% if user_signed_in? %>
      <div class='menu_item pulldown'>
        <a class='pulldown-menu' style='padding:0 20px 0 40px;'>
          <%= image_tag 'menu.png',width:40,height:40,style:'position:absolute;left:0;' %>
          <%= current_user.name %>
        </a>
        <div class='pulldown-target'>
          <div class='cursor-dark' style='padding:0 20px'><%= link_to 'My Page',users_index_path %></div>
          <div class='cursor-dark' style='padding:0 20px'><%= link_to 'Sign out',users_sign_out_path,method:'delete' %></div>
        </div>
      </div>
    <% else %>
      <div class='menu_item link'>
        <%= link_to 'Sign up', users_sign_up_path %>
      </div>
      <div class='menu_item pulldown'>
        <a class='pulldown-menu'>
          Sign in
        </a>
        <div class='pulldown-target'>
          <%= form_tag users_sign_in_path, class:'clearfix' do |f|%>
            <div><%= text_field :sign_in, :name_or_email, placeholder:'username or email', value:params[:sign_in].try(:[],:name_or_email) %></div>
            <div><%= text_field :sign_in, :password, placeholder:'password', type:'password' %></div>
            <%= submit_tag 'Sign in', class:'right' %>
          <% end %>
          <div>
            <div>Sign in with</div>
            <%= link_to oauth_login_path(:twitter), style:'margin:0 5px' do %>
              <i class='icon-twitter'></i>twitter
            <% end %>
            <%= link_to oauth_login_path(:facebook), style:'margin:0 5px' do %>
              <i class='icon-facebook'></i>facebook
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </nobr>
</header>

<%= yield %>

<footer>
  <div class='left'>©2013 Tomoya Ishida and Yohei Yasukawa</div>
  <div class='right'>
    <span><a href="https://github.com/screenxtv">GitHub</a></span>
    <span><a href='mailto:team@yasulab.jp'>Contact us</a></span>
    <span><a href='/doc/team'>Team</a></span>
    <span><a href='http://blog.screenx.tv'>Blog</a></span>
    <span><a href='http://twitter.com/screenxtv'>Twitter</a></span>
  </div>
</footer>
