<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%=title%></title>
  <meta content="http://screenx.tv/" property="og:url"/>
  <link rel="canonical" href="http://screenx.tv/"/>
  <% #stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%#= render partial:'/analytics' %>
  <script>csrf_token="<%= form_authenticity_token %>"</script>
</head>
<body>


<style>
body{margin:0;padding:0;padding-top:40px;overflow-x:hidden;}
.header{
	position:fixed;
	left:0;top:0;width:100%;height:40px;
	background:#eee;
	background:-webkit-linear-gradient(top,#ddd,#fff);
	background:-moz-linear-gradient(top,#ddd,#fff);
  background:-o-linear-gradient(top,#ddd,#fff);
	box-shadow:0 5px 5px rgba(0,0,0,0.2);
	z-index:65536;
}
div.social{
	position:absolute;right:120px;top:2px;
}
div.twitterbutton{position:relative;top:3px;}
.menu_button{position:absolute;right:0;top:0;height:40px;}
#header_title{
	margin-left:160px;
	margin-right:250px;
	height:40px;
	text-align:center;
  line-height:40px;
	overflow:hidden;
}
.popupbutton{
  position:relative;
}
.popup{
  display:none;
  position:absolute;
  background:white;
  right:5px;top:45px;
  border-radius:5px;
  box-shadow:0 0 5px silver;
}
.popupbutton_active .popup{display:block;}

.menu_button a{color:black;text-decoration:none;}
.menu_button .popupbutton,.header_sign_in{
  height:100%;
  background:#ddd;
  background:-webkit-linear-gradient(top,#ccc,#eee);
  background:-moz-linear-gradient(top,#ccc,#eee);
  background:-o-linear-gradient(top,#ccc,#eee);
}
.menu_button .popupbutton:hover,.header_sign_in:hover{
  background:#ccc;
  background:-webkit-linear-gradient(top,#bbb,#ddd);
  background:-moz-linear-gradient(top,#bbb,#ddd);
  background:-o-linear-gradient(top,#bbb,#ddd);
}
.menu_button .popup a{
  display:block;
  color:black;
  font-size:16px;
  padding:0 10px;
}
.menu_button .popup a:hover{background:#eee;}
.menu_button .popupbutton_active{
  background:#aaa;
  background:-webkit-linear-gradient(top,#999,#bbb);
  background:-moz-linear-gradient(top,#999,#bbb);
  background:-o-linear-gradient(top,#999,#bbb);
}
.menu_button .popupbutton_active:hover{
  background:#aaa;
  background:-webkit-linear-gradient(top,#888,#aaa);
  background:-moz-linear-gradient(top,#888,#aaa);
  background:-o-linear-gradient(top,#888,#aaa);
}
.header_sign_in{
  font-size:20px;
  padding:0 4px;
  line-height:40px;
}
</style>
<script>
$(function(){
  $(".popupbutton").live('click',function(){
    var classactive='popupbutton_active';
    var flag=$(this).hasClass(classactive);
    $('.popupbutton').removeClass(classactive);
    if(!flag)$(this).addClass(classactive);
  })
})
</script>
<div class="header">
  <a href='/'><img src='/assets/logo.png' style='position:absolute;z-index:65536;height:40px;'></a>
  <div id='header_title'></div>
  <nobr class='menu_button'>
    <%if user_signed_in? %>
      <div class='popupbutton'><img src='/assets/menu.png' width=40 height=40>
        <div class='popup'>
          <%= link_to 'My Page',{controller:'user',action:'index'} %>
          <%= link_to 'Sign out',{controller:'user',action:'signout'},method:'delete' %>
        </div>
      </div>
    <% else %>
      <div class='header_sign_in'>
        <%= link_to 'Sign in',{controller:'user',action:'signin'} %>
      </div>
    <% end %>
  </nobr>
</div>

<%= yield %>


<% if @footer %>
<style>
div.footer{
  border-top:1px solid#eee;
  text-align:right;
  margin-top:20px;
  padding:10px 20px;
  font-size:14px;
  color:gray;
}
div.footer a{color:#444}
div.footer span{margin-right:20px;}
</style>
<div class='footer'>
  <span class=contact>News:
    <a href='http://twitter.com/screenx_tv'>@screenx_tv</a>
  </span>
  <span class=contact>Contact:
    <a href='http://twitter.com/tompng'>@tompng</a>
  </span>
  <a href='/doc/team'>Team</a>
</div>
<% end %>