<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%=title%></title>
  <meta content="http://screenx.tv/" property="og:url"/>
  <link rel="canonical" href="http://screenx.tv/"/>
  <% #stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%#= render partial:'/analytics' %>
  <script>csrf_token="<%= form_authenticity_token %>"</script>
</head>
<body>


<style>
body{margin:0;padding:0;padding-top:30px;overflow-x:hidden;}
.header{
	position:fixed;
	left:0;top:0;width:100%;height:30px;
	background:#eee;
	background:-webkit-linear-gradient(top,#ddd,#fff);
	background:-moz-linear-gradient(top,#ddd,#fff);
	box-shadow:0 5px 5px rgba(0,0,0,0.2);
	z-index:65536;
}
div.social{
	position:absolute;right:120px;top:2px;
}
div.twitterbutton{position:relative;top:3px;}


.login_text img{position:absolute;width:32px;height:32px;bottom:0px;left:0px;border-radius:4px;}
.login_text{position:absolute;right:8px;bottom:8px;font-size:20px;text-align:left;vertical-align:bottom;padding-left:40px;}
.login_text a{color:black;text-decoration:none;font-family:Osaka,Sans-Serif;}
#header_title{
	margin-left:160px;
	margin-right:250px;
	height:30px;
	text-align:center;
	font-size:24px;
  line-height:30px;
	overflow:hidden;
}
</style>
<div class="header">
  <a href='/'><img src='/assets/logo.png' style='position:absolute;z-index:65536;height:30px;'></a>
  <div id='header_title'></div>
  <!--div class='social'>
    <div class='twitterbutton'>
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url=http://screenx.tv/" style="width:120px; height:20px;"></iframe>
    </div>
    <script id="facebook-jssdk" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <div class="fb-like" data-href="http://screenx.tv/" data-send="false" data-width="70" data-show-faces="false" data-layout="button_count"></div>
  </div-->
  <nobr class='login_text'>
    <%if user_signed_in? %>
      <div style='font-size:0.6em'>
      <%= link_to current_user.name,{controller:'user',action:'index'} %>
      </div>
      <div style='font-size:0.6em'>
      <%= link_to 'Sign out',{controller:'user',action:'signout'},method:'delete' %>
      </div>
    <% else %>
      <a href='/user/signin'>
      	Sign in
      </a>
    <% end %>
  </nobr>
</div>

<%= yield %>
