<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%=title%></title>
  <meta content="http://screenx.tv/" property="og:url"/>
  <link rel="canonical" href="http://screenx.tv/"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render partial:'/analytics' %>
  <script>csrf_token="<%= form_authenticity_token %>"</script>
</head>
<body>
<header>
  <a href='/'><img src='/assets/logo.png' style='position:absolute;z-index:65536;height:40px;'></a>
  <div id='header_title'></div>
  <nobr class='menu_button'>
    <%if user_signed_in? %>
      <div class='popupbutton'><img src='/assets/menu.png' width=40 height=40>
        <div class='popup'>
          <%= link_to 'My Page',{controller:'user',action:'index'} %>
          <%= link_to 'Sign out',{controller:'user',action:'signout'},method:'delete' %>
        </div>
      </div>
    <% else %>
      <div class='header_sign_in'>
        <%= link_to 'Create your account or Sign in',{controller:'user',action:'signin'} %>
      </div>
    <% end %>
  </nobr>
</header>

<%= yield %>

<footer>
  <span style="float:left;">©2013 Tomoya Ishida and Yohei Yasukawa</span>
  <span><a href='mailto:team@yasulab.jp'>Contact us</a></span>
  <span><a href='/doc/team'>Team</a></span>
  <span><a href='http://blog.screenx.tv'>Blog</a></span>
  <span>News:<a href='http://twitter.com/screenxtv'>@screenxtv</a></span>
</footer>
