<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title><%=title%></title>
  <meta content="http://screenx.tv/" property="og:url"/>
  <link rel="canonical" href="http://screenx.tv/"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render partial:'/analytics' %>
  <script>csrf_token="<%= form_authenticity_token %>"</script>
</head>
<body>
<header>
  <a href='/'><img src='/assets/logo.png' style='position:absolute;z-index:65536;height:40px;'></a>
  <div id='header_title'></div>
  <nobr class='menu_button'>
    <%if user_signed_in? %>
      <div class='pulldown'>
        <div class='pulldown-menu' style='padding:0 20px 0 40px;'>
          <%= image_tag 'menu.png',width:40,height:40,style:'position:absolute;left:0;' %>
          <%= current_user.name %>
        </div>
        <div class='pulldown-target'>
          <div class='cursor-dark' style='padding:0 20px'><%= link_to 'My Page',users_index_path %></div>
          <div class='cursor-dark' style='padding:0 20px'><%= link_to 'Sign out',users_sign_out_path,method:'delete' %></div>
        </div>
      </div>
    <% else %>
      <div class='header_sign_in'>
        <%= link_to 'Create your account or Sign in',users_sign_in_path %>
      </div>
    <% end %>
  </nobr>
</header>

<%= yield %>

<footer>
  <div class='left'>©2013 Tomoya Ishida and Yohei Yasukawa</div>
  <div class='right'>
    <span><a href='mailto:team@yasulab.jp'>Contact us</a></span>
    <span><a href='/doc/team'>Team</a></span>
    <span><a href='http://blog.screenx.tv'>Blog</a></span>
    <span>News:<a href='http://twitter.com/screenxtv'>@screenxtv</a></span>
  </div>
</footer>
