<style>
div.main{
	margin:5px 20px;
	font-size:18px;
}
div.item{
	box-shadow:0 0 8px silver;
	margin:16px;
	padding:4px;
}
div.item div{font-size:18px;}
div.item div.url{font-size:24px;}
</style>
<div class='main'>
	<h1>User Profile</h1>
	<%= form_tag users_update_path do %>
		<h1>
			<%= image_tag current_user.user_icon %>
			<%= current_user.name %>
		</h1>
		<div>display name: <input type=text name='display_name' value="<%= current_user.display_name %>"></div>
		<div>email: <input type=text  name='email' value="<%= current_user.email %>"></div>
		<div>
			<% is_anonymous = current_user.user_icon == social_info['anonymous'][:icon] %>
			<input type=radio name='social_icon' value='anonymous' <%= 'checked' if is_anonymous %>>
			<%= image_tag social_info['anonymous'][:icon], width: 24, height: 24 %>use default icon
		</div>
		<% current_user.oauths.each do |oauth| %>
			<div>
				<input type=radio name='social_icon' value=<%= oauth.provider %> <%= 'checked' if oauth.icon == current_user.icon %>>
				<%= image_tag oauth.icon, width: 24, height: 24 %>use <%= oauth.provider %> icon
			</div>
		<% end %>
		<div style='color:red'><%= flash[:notice] %></div>
		<input type=submit value=save>
	<% end %>
		<br><br>
		<div class='socials'>
			<% OAuthConsumers.keys.each do |provider| %>
				<% social = social_info[provider] %>
				<div>
					<% if social %>
						<b><%= provider %></b>
						<%= image_tag social[:icon], width: 24, height: 24 %>
						<%= social[:display_name] %>
						<%= link_to 'disconnect', oauth_disconnect_path(provider: provider), method: :post %>
					<% else %>
						<b><%= provider %></b><%= link_to 'connect',oauth_login_path(provider) %>
					<% end %>
				</div>
			<% end %>
		</div>
	<br>
	<h1>Reserved URLs</h1>
	<% screens = current_user.screens %>
	<% screens.each do |screen| %>
		<div class='item'>
			<%= form_tag users_update_screen_path do %>
				<div class='url'><a href="/<%= screen.url %>"><%= screen.url %></a></div>
				
				<input type=hidden name=url value="<%= screen.url %>">
				hash tag:<input type=text name='hash_tag' autocomplete=off placeholder='#hashtag' value='<%= screen.hash_tag%>'>

				<div>Total Viewer: <%= screen.total_viewer %></div>
				<div>Max Viewer: <%= screen.max_viewer %></div>
				<div>Cast Count: <%= screen.cast_count %></div>
				<% time=screen.total_time %>
				<div>Total Time: <%= time/60/60/24 %>days <%= h=time/60/60%24;"#{h/10}#{h%10}"%>:<%= m=time/60%60;"#{m/10}#{m%10}" %></div>
				<input type=submit value=save>
			<% end %>
		</div>
	<% end %>
	<% if false && screens.size < Screen::USER_MAX_SCREENS %>
		<%= form_tag users_create_screen_path do %>
			<input name=url autocomplete=off placeholder='url'>
			<input type=submit value='create'>
		<% end %>
	<% end %>
</div>