<style>
div.main{
	margin:5px 20px;
	font-size:18px;
}
#sign_in,#sign_up{
	margin:16px;
	border-radius:8px;
	background:white;
	box-shadow:0 0 8px silver;
	width:300px;
}
div.item{
	box-shadow:0 0 8px silver;
	margin:16px;
	padding:4px;
}
div.item div{font-size:18px;}
div.item div.url{font-size:24px;}
</style>
<div class='main' style='margin-left:auto;margin-right:auto;width:900px;'>
	<h1>
		<%= image_tag @user.user_icon, width: 48, height: 48 %>
		<%= @user.name %>
	</h1>
	<div>
		<b><%= @user.display_name %></b>
		<% @user.oauths.each do |oauth| %>
			
			<a href="<%= oauth.url %>" target='_blank' class='icon-<%= oauth.provider %>' style='color:white;background:gray;text-decoration:none;padding:5px;display:inline-block;border-radius:4px;width:18px;height:18px;text-align:center;'></a>
			
		<% end %>
	</div>
	<%= link_to 'edit profile', users_index_path, class:'icon-edit' if @user == current_user %>
	<br>
	<h1>Reserved URLs</h1>
	<div class='clearfix'>
		<% @user.screens.each do |screen| %>
			<div class='item' style='float:left;width:400px;'>
				<div class='url'><a href="/<%= screen.url %>"><%= screen.url %></a></div>
				<div>Total Viewer: <%= screen.total_viewer %></div>
				<div>Max Viewer: <%= screen.max_viewer %></div>
				<% time=screen.total_time %>
				<div>Total Time: <%= time/60/60/24 %>days <%= h=time/60/60%24;"#{h/10}#{h%10}"%>:<%= m=time/60%60;"#{m/10}#{m%10}" %></div>
			</div>
		<% end %>
	</div>
</div>