<meta encoding='utf-8'>
<%= javascript_include_tag "screen" %>
<%= render partial:'/analytics' %>
<script>
channelID="<%= url %>"
host=location.hostname;
port=<%= node_port %>
var terminalview;
$(function(){
	if(!channelID)return;
	terminalview=new TerminalView(document.getElementById("terminal"),host,port,channelID,true);
	window.onresize=function(){terminalview.resize(innerWidth,innerHeight)}
	window.onresize();
})
</script>
<%if link%><a href="/<%=url%>" target='_top' style='text-decoration:none'><% end%>
<div id="terminal" style="font-size:16px;box-shadow:0 0 8px silver;margin:10px;"></div>
<%if link%></a><% end%>
