<%= javascript_include_tag "screen" %>
<script>
var channelID="<%= @url %>";
var host=location.hostname;
var port=<%= node_port %>;
var chats=<%= safe_json @chats %>;
var social=<%= safe_json social_info %>;
var terminalview;
function onSocialConnect(s){
	setSocial(social=s);
}
$(function(){
	if(!channelID)return;
	if(chats){
		for(var i=0;i<chats.length;i++)addChat(chats[i])
	}
	terminalview=new TerminalView(document.getElementById("terminal"),host,port,channelID,true)
	window.onresize=function(){
		var cw=Math.round(0.3*innerWidth);
		if(cw<200)cw=200;
		if(cw>320)cw=320;
		var w=innerWidth-cw;
		var h=innerHeight-30;
		if(w<400){
			w=innerWidth;
			$("#chatmain").css("display","none")
		}else{
			$("#chatmain").css({display:"block",height:h,width:cw})
			$("#chatlist").css({height:h-$("#chatform").height()})
		}
		$("#terminalmain").css({width:w,height:h,top:70});
		terminalview.resize(w,h-40);
		$("#terminal_nav").css("width",w);
	}
	terminalview.onChatArrive=function(chat){
		try{
			addChat(chat,true);
		}catch(e){console.log(chat)}
	}
	terminalview.onInit=function(data){
		title=data.info?data.info.title:""
		$("#terminaltitle").text(title);
		document.title=(title?title+" - ":"")+"ScreenX TV";
		if(data.casting)terminalview.onCastStart();
		else terminalview.onCastEnd();
		if(data.chatlist){
			clearChat();
			for(var i=0;i<data.chatlist.length;i++){
				var chat=data.chatlist[i];
				try{
					addChat(chat);
				}catch(e){console.log(chat)}
			}
		}
		terminalview.onViewerChange(data.viewer);
	}
	terminalview.onCastStart=function(data){
		$("#terminalstatus").css({color:'black'})
	}
	terminalview.onCastEnd=function(){
		$("#terminalstatus").css({color:'silver'})
	}
	terminalview.onViewerChange=function(n){
		$("#terminalstatus").text("viewer: "+n);
	}
	terminalview.onClose=function(){
		$("#terminalstatus").text("disconnected");	
	}
	$("#chatform form").mousedown(function(){$("#message").focus();return false;})
	$("#message").focus(function(){$("#chatform form").css('box-shadow','0 0 8px blue')})
	$("#message").blur(function(){$("#chatform form").css('box-shadow','none')})
	window.onresize();
	setSocial(social);
})
function post(){
	var message=$("#message").val();
	$("#message").val("")
	if(!message.trim())return;
	var twit=$("#twitpost")[0];
	var data={
		authenticity_token:csrf_token,
		message:message
	}
	terminalview.post(message,twit&&twit.checked);
}
function animate(f,time){
	var starttime=new Date();
	function func(){
		var t=(new Date()-starttime)/time
		if(t>=1)t=1;
		try{f(t)}catch(e){console.log(e);}
		if(t<1)setTimeout(func,10);
	}
	setTimeout(func,10);
	try{f(0)}catch(e){console.log(e)}
}
function updateTime(){
	for(var i=0;i<chatArray.length;i++)chatArray[i].update();
}
setInterval(updateTime,1000);
var chatArray=[];
function clearChat(){
	chatArray=[];
	$("#chatlist").text('');
}
function setSocial(s){
	var img=$("<img/>")
	if(s){
		var img=$("<img/>");
		img.attr('src',s.icon)
		$("#form_icon").text('').append(img);
		$("#chatform form").css('padding-left',40);
	}else{
		$("#chatform form").css('padding-left','');
		var img=$("<img/>")
		img.click(function(){window.open("/oauth/connect","_blank","toolbar=no,menubar=no,status=no,width=600,height=400")});
		var attr={width:32,height:32,src:"/assets/twitlogin.png"};
		img.attr(attr);
		atag=$("<a>connect with twitter</a>");
		atag.css('margin-left',10);
		atag.attr('href','/oauth/connect');
		$("#mysocial").text('').append(atag);
	}
}
function addChat(chat,addedFlag){
	var div=$("<div class='chat'><img><div class='name'/><div class='message'/><div class='time'/></div>");
	if(addedFlag)chat.time=new Date().getTime()/1000;
	else chat.time=Math.min(new Date().getTime()/1000,chat.time);
	var imgsrc=chat.icon;
	if(!imgsrc)imgsrc="/assets/anonymous.png"
	div.children().eq(0).attr("src",imgsrc);
	if(chat.name)div.children().eq(1).text(chat.name);
	div.children().eq(2).text(chat.message);
	var time=div.children().eq(3);
	var chatlist=$("#chatlist");
	var wrap=$("<div class='chat_wrap'/>");
	wrap.append(div)
	var updateFunc=function(){
		var sec=Math.round(new Date().getTime()/1000-chat.time);
		var s10=Math.floor(sec/10)*10;
		var min=Math.floor(sec/60);
		var hour=Math.floor(min/60);
		var day=Math.floor(hour/24);
		if(day)day+=(day==1?'day':'days')+' ago';
		if(hour)hour+=(hour==1?'hour':'hours')+' ago';
		if(min)min+='min'+' ago';
		if(s10)s10+='sec'+' ago';
		time.text(day||hour||min||s10||'just now');
	}
	updateFunc();
	chatlist.prepend(wrap);
	if(addedFlag){
		animate(
			function(t){
				var h=div.outerHeight();
				if(t<1){
					div.css({top:-h*(1-t)});
					wrap.css({height:h*t});
				}else{
					div.css({top:''});
					wrap.css({height:''});
				}
			},200);
	}
	chatArray.push({obj:wrap,update:updateFunc});
	if(chatArray.length>256)chatArray.shift().obj.remove();
}
</script>
<style>
div.chat_wrap{position:relative;margin:0;padding:0;width:100%;}
div.chat{position:relative;border-radius:5px;margin:5px;padding:5px;box-shadow:0 0 8px rgba(0,0,0,0.2);min-height:30px;}
div.chat img{position:absolute;width:24px;height:24px;left:5px;top:5px;border-radius:4px;}
div.chat .name{margin-left:30px;font-size:12px;font-weight:bold;overflow:hidden;line-height:1em;}
div.chat .message{margin-left:30px;margin-top:2px;font-size:16px;overflow-x:hidden;color:#444;word-break:break-all;}
div.chat .time{text-align:right;font-size:10px;color:silver;overflow:hidden;line-height:1em;}
#chatform form{
	border-radius:8px;
	border:1px solid silver;
	padding:2px 4px;
	margin:0px;
	height:40px;
	font-size:16px;
	position:relative;
}
#chatform img{
	position:absolute;
	left:6px;top:6px;
	width:30px;height:30px;
	border-radius:4px;
}
#message{
	margin:0;padding:0;
	outline:none;
	border:none;
	height:100%;
	width:100%;
	font-size:16px;
}
#twitcheckbox{position:absolute;left:10px;bottom:2px;font-size:16px;}
#terminal_nav{
	position:fixed;
	left:0;top:30px;
	height:40px;
	background:#ddd;
}
#terminal_nav div{
	position:absolute;font-size:24px;height:40px;line-height:40px;
}
#terminaltitle{
	left:10px;
}
#terminalstatus{
	right:80px;
	text-align:right;
}
#terminallike{
	right:20px;
}
</style>
<div id="terminalmain" style='position:fixed;left:0;top:50;'>
	<div id="terminal" style="font-size:16px;box-shadow:0 0 8px silver;margin:10px;"></div>
</div>
<div id='terminal_nav'>
	<div id='terminaltitle'></div>
	<div id='terminalstatus'></div>
	<div id='terminallike'>♡</div>
</div>
<div id='chatmain' style='position:fixed;right:0;top:50;width:300px;box-shadow:0 0 16px black;overflow:hidden;background:white'>
	<div id='chatform' style='box-shadow:0 0 5px rgba(0,0,0,0.2);position:absolute;left:0;top:0;width:100%;height:80px;'>
		<form onsubmit="try{post()}catch(e){}return false" style="margin:10px;margin-bottom:4px;">
			<div id='form_icon'></div>
			<div style='position:relative;height:100%;'>
				<input id='message' style='' maxlength=100 autocomplete='off' placeholder='social stream'>
			</div>
		</form>
		<div id='mysocial'></div>
	</div>
	<div id='chatlist' style='position:absolute;width:100%;top:80px;overflow:auto'></div>
</div>




